{% extends "auctions/layout.html" %}

{% block title %}{{title.title}}{% endblock %}

{% block body %}
    <h2>Active LISTING</h2>

    <h3>{{title.title}}</h3>
watch list
<br>
Image:
{{title.image}}
<br>
Description:
{{title.description}}
<br>
Price:
{{title.price}}
<br>
2 bids so far. Yor bud is curent bid
<br>
Bid:
{{title.bid}}
<br>
place bid
<br>
Details:
Нужно добавить
<br>
publication date:
{{title.pub_date}}

<br>
Listed by: Harry Potter
<br>
category: Fashion
<br>
CLOSE BID if author
<br>
Comments:

<form action="{% url 'make_comment' title.id %}" method="POST">
    {% csrf_token %}
    <textarea name="comment_text", required placeholder="text comment here" cols="30", rows="10"></textarea><br>
    <button type="submit">оставить комментарий</button>

</form>


{% endblock %}